<div>
    <ul>
        {{#each models}}
        <li>
            <div class="flexContainer">
                <p>{{name}}<br/><span class="secondary">
                    {{#if url}}
                        <strong>URL</strong>&nbsp;:&nbsp;{{url}}
                    {{else}}
                        <strong>Local</strong>
                    {{/if}}
                    </span>
                    <br/><span class="secondary">
                    {{#if schema}}
                        <strong>Schema</strong>&nbsp;:&nbsp;{{schema}}
                    {{else}}
                        <strong>No Schema</strong>
                    {{/if}}
                    </span>
                </p>
                <div>
                    <div class="inlineButton large" data-index="{{@index}}" data-models="edit" data-click="editModel"><i class="material-icons md-dark">edit</i></div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
