<ul>
    {{#each stylesheets}}
    <li>
        <div class="flexContainer">
            <p>{{stylesheet}}<br/><span class="secondary">
                {{#if async}}
                Asynchronous
                {{else}}
                Blocking
                {{/if}}
                </span>
            </p>
            <div>
                <div class="inlineButton large" data-stylesheet="{{stylesheet}}" data-async="{{async}}" data-index="{{@index}}" data-stylesheets="edit" data-click="editStylesheet"><i class="material-icons md-dark">edit</i></div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
